.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.link-nav{
  color: white;
  margin: 20px;
  
}

.signup-form{
  
  transition-timing-function: cubic-bezier(.29, 1.01, 1, -0.68);  
  text-align: center;
    
  color: white;
  

}


element.style {
  right: -15rem;
  width: 15rem;
  transition: all 0.5s ease-in-out 0s;
}

.Login {
  height: 100%;
  width: 50rem;
  background: rgb(197, 79, 24);
  position: absolute;
  right: 0;
  transition: all .5s ease-in-out;
}

.Login.show {
  right: 0;
  z-index: 999;
}

.Login.hide {
  right: -50rem;
  z-index: 999;
}

.Signup {
  height: 100%;
  width: 50rem;
  background: rgb(197, 79, 24);
  position: absolute;
  right: 0;
  transition: all .5s ease-in-out;
}

.Signup.show {
  right: 0;
  z-index: 999;
}

.Signup.hide {
  right: -50rem;
  z-index: 999;
}

.holaDan {
  z-index: 9;
  transition: all .2s ease-in-out;
}

.show + .holaDan {
  height: 100vh;
  width: 100vw;
  background: rgba(0,0,0,.3);
  position: fixed;
  
}

.artists-obras{
  display: flex;
  justify-content: space-evenly;


}
.card-obras{
  
  margin: 10px;
 /* box-shadow: 6px 15px 17px 7px rgba(0,0,0,0.27);*/
  display: flex;
  justify-content: space-between;
  
}

.profile-img img{
  width: 20%;
  margin-top: 15%;

}
.login-form{
  margin-top: 40%;
}
.form-signup{
  margin-top:40%;
}


.profile-art img{
  width: 20%;
 
}

.artists-obras{  
  display: flex;
 justify-content: space-around;
 
}
.container{
  margin-top: 80px;
  max-width: 100vw;
}
h1{
  padding: 20px;
  font-family:   "Financier Display", Georgia, sans-serif;
  margin-top: px
}
.card-title{
  font-size: 7em;
  color: rgb(5, 19, 8);
  font-family: 'Merienda', cursive;
}
.profile-art img{
  object-fit: cover;
  width: 90%;
  margin: 10px;
  margin-bottom: 30px ;
  border: #be340ae5 solid 1px;
 
}
.profile-art {
  margin-top: 40px;

}
.inf-artist{
  font-family: "Chronicle Deck A", "Chronicle Deck B", Georgia;
  margin-top: 20px;
  padding: 80px
}
.inf-artist h1{
  font-family:   "Financier Display", Georgia, sans-serif;
  font-size: 5em;
  color:rgb(192,192,192)
}
.inf-artist p{
  font-size: 1.2em;
  color: rgb(192,192,192)
}
.profile-container{
 max-width: 100vw;
background-color: black;
background-size: contain
}



  .Login, .Signup {
    position: fixed;
  }
hr{
  padding: 10px;
  
}
.container-yalose h1{
font-family:   "Financier Display", Georgia, sans-serif;
font-size: 2.8em;

}

.comment-of-artist{
  padding: 0px 100px 30px 100px;
  font-family:   "Financier Display", Georgia, sans-serif;
  font-size: 1.2em
}

.btn-add{
background-color: rgba(187, 114, 53, 0.733);
color: white
}
.obras-nav:hover{
text-decoration: none
}








*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#container{
  width: 350px;
  height: 500px;
  background: inherit;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  margin-left: -175px;
  margin-top: -250px;
  border-radius: 8px;
}
#container:before{
  width: 400px;
  height: 550px;
  content: "";
  position: absolute;
  top: -25px;
  left: -25px;
  bottom: 0;
  right: 0;
  background: inherit;
  box-shadow: inset 0 0 0 200px rgba(255,255,255,0.2);
  filter: blur(10px);
}
form img{
  width: 120px;
  height: 120px;
  border-radius: 100%;
}
form{
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
input{
  background: 0;
  width: 200px;
  outline: 0;
  border: 0;
  border-bottom: 2px solid rgba(255,255,255, 0.3);
  margin: 20px 0;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  color: rgba(255,255,255, 0.8);
}
input[type="submit"]{
  border: 0;
  border-radius: 8px;
  padding-bottom: 0;
  height: 60px;
  background: #551705;
  color: white;
  cursor: pointer;
  transition: all 600ms ease-in-out;
}
input[type="submit"]:hover{
  background: #551705;
}
span a{
  color: rgba(255,255,255, 0.8);
}


.card-container{
margin-right: 60px
}

#artist-text p{
color: rgb(94, 82, 82);

}
#artist-text{
margin-top: 0px ;
padding: 100px
}
small{
  color:white;
  text-align: center;
  margin-top: 25px;
}







body {
  font-family: sans-serif;
  font-weight: 100;
}
a {
  color: black;
  text-decoration: none;
}
.toggle-menu {
  position: fixed;
  right: 10px;
  top: 00px;
  font-size: 3em;
}
ul {
  margin-top: 8px;
  list-style-type: none;
  margin-right: 20px;
  color: white;
}
.menu {
  width: 80vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(240, 240, 240);
  text-align: center;
  transform: translateX(-100%);
  transition: transform .5s;
  z-index: 999;
  
  
}
.menu.abierto {
  transform: translateX(0);
  display: block
}
.menu img {
  width: 150px;
  display: block;
  margin: 20px auto;
}
.menu nav a {
  display: block;
  padding: 10px 0;
  text-align: center
}
@media screen and (min-width: 880px) {
  .obras-menu{
width: 70%
  }

  

  #cerrar{
    margin-top: -23px
  }
  .menu {
    width: 100vw;
    height: 80px;
    transform: translateX(0);
    transition: none;
    background: #343A40;
  }
  .menu.abierto {
    transform: translateX(0);
  }
  .menu img {
    margin: 8px;
    width: 100px;
    float: left;
  }
  .menu ul {
    float: right;
    display: block;
  }
  .menu li {
    display: inline-block;
    margin: 5px;
    margin-top: 0px;

  }
  .sesions{
    margin-top: 0px
  }
}
.title{
  margin-left: 20px;
  margin-top: -17px;
  text-align: center;
  float: left;
  font-size: 2.8em;
  color:rgb(226, 98, 51);
  font-weight: lighter;
  
}
.ref-obra{
  float: left;
  margin-top: 10px;
  margin-left: 80px;
  font-size: 1.7em;
  font-weight: lighter;
  

}
a{
  font-size: 1.6em;
  margin-right: 25px;   
  color: white;
  font-weight: lighter;
}

a:hover { 
  color: orangered;
}
#cerrar{
  margin-top: -23px
}
#title-subasta{
  margin-top: 62px;
}
.subasta-form{
  margin-top: 150px

}