.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.link-nav{
  color: white;
  margin: 20px;  
}

.signup-form{
  
  transition-timing-function: cubic-bezier(.29, 1.01, 1, -0.68);  
  text-align: center;
    
  color: white;
  

}


element.style {
  right: -15rem;
  width: 15rem;
  transition: all 0.5s ease-in-out 0s;
}

.Login {
  height: 100%;
  width: 35rem;
  background: rgb(24, 24, 23);
  position: absolute;
  right: 0;
  transition: all .5s ease-in-out;
  font-size: 1.5em;
}

.Login.show {
  right: 0;
  z-index: 999;
  
}

.Login.hide {
  right: -35rem;
  z-index: 999;
  
}

.Signup {
  height: 100%;
  width: 35rem;
  background: rgb(24, 24, 23);
  position: absolute;
  right: 0;
  transition: all .5s ease-in-out;
  font-size: 1.5em;
}

.Signup.show {
  right: 0;
  z-index: 999;
  
}

.Signup.hide {
  right: -35rem;
 z-index: 999;
}

.holaDan {
  z-index: 9;
  transition: all .2s ease-in-out;
}

.show + .holaDan {
  height: 100vh;
  width: 100vw;
  background: rgba(0,0,0,.3);
  position: fixed;
  
}

.artists-obras{
  display: flex;
  justify-content: space-evenly;


}
.card-obras{
  
  margin: 10px;
 /* box-shadow: 6px 15px 17px 7px rgba(0,0,0,0.27);*/
  display: flex;
  justify-content: space-around;
  
}
.card-body{

 display: flex;
  justify-content: center;
}

.profile-img img{
  width: 20%;
  margin-top: 15%;

}
.login-form{
  margin-top: 40%;
  color: silver;
}
.form-signup{
  margin-top:40%;
  color:silver;
}


.profile-art img{
  width: 20%;
 
}

.artists-obras{  
  display: flex;
 justify-content: space-around;
 
}
.container{
  margin-top: 80px;
  max-width: 100vw;
}
h1{
  padding: 20px;
  font-family:   "Financier Display", Georgia, sans-serif;
  margin-top: px
}
.card-title{
  font-size: 7em;
  color: rgb(5, 19, 8);
  font-family: 'Merienda', cursive;
}
.profile-art img{
  object-fit: cover;
  width: 90%;
  margin: 10px;
  margin-bottom: 30px ;
  border: #be340ae5 solid 1px;
 
}
.profile-art {
  margin-top: 40px;

}
.inf-artist{
  font-family: "Chronicle Deck A", "Chronicle Deck B", Georgia;
  margin-top: 20px;
  padding: 80px
}
.inf-artist h1{
  font-family:   "Financier Display", Georgia, sans-serif;
  font-size: 5em;
  color:rgb(192,192,192)
}
.inf-artist p{
  font-size: 1.2em;
  color: rgb(192,192,192)
}
.profile-container{
 max-width: 100vw;
background-color: black;
background-size: contain;
margin-top: -30px;
}



.Login, .Signup {
    position: fixed;
  }
hr{
  padding: 10px;
  
}
.container-yalose h1{
font-family:   "Financier Display", Georgia, sans-serif;
font-size: 2.8em;

}

.comment-of-artist{
  padding: 0px 100px 30px 100px;
  font-family:   "Financier Display", Georgia, sans-serif;
  font-size: 1.2em
}

.btn-add{
background-color: rgba(187, 114, 53, 0.733);
color: white
}
.obras-nav:hover{
text-decoration: none
}








*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#container{
  width: 350px;
  height: 500px;
  background: inherit;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  margin-left: -175px;
  margin-top: -250px;
  border-radius: 8px;
}
#container:before{
  width: 400px;
  height: 550px;
  content: "";
  position: absolute;
  top: -25px;
  left: -25px;
  bottom: 0;
  right: 0;
  background: inherit;
  box-shadow: inset 0 0 0 200px rgba(255,255,255,0.2);
  filter: blur(10px);
}
form img{
  width: 120px;
  height: 120px;
  border-radius: 100%;
}
 form{
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
} 
input{
  background: 0;
  width: 200px;
  outline: 0;
  border: 0;
  border-bottom: 2px solid rgba(255,255,255, 0.3);
  margin: 20px 0;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  color: rgba(255,255,255, 0.8);
}
input[type="submit"]{
  border: 0;
  border-radius: 8px;
  padding-bottom: 0;
  height: 60px;
  background: #181717;
  color: white;
  cursor: pointer;
  transition: all 600ms ease-in-out;
}
input[type="submit"]:hover{
  background: #181717;
}
span a{
  color: rgba(255,255,255, 0.8);
}


.card-container{
margin-right: 60px
}

#artist-text p{
color: rgb(94, 82, 82);

}
#artist-text{
margin-top: 0px ;
padding: 100px
}
small{
  color:white;
  text-align: center;
  margin: 20px;
  font-size: 1.5em;
  position: absolute;
  left: 17%;
  font-family: 'Roboto', sans-serif;
}








body {
  font-family: sans-serif;
  font-weight: 100;
}
a {
  color: black;
  text-decoration: none;
  margin-left: 10px;
}
.toggle-menu {
  position: fixed;
  right: 5px;
  top: 00px;
  font-size: 3em;
  margin-right: 10px;
}
ul {
  margin-top: 20px;
  list-style-type: none;
  margin-right: 20px;
  color: white;
}
.menu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(240, 240, 240);
  text-align: center;
  transform: translateX(-100%);
  transition: transform .5s;
  z-index: 999;
  
  
}
.menu.abierto {
  transform: translateX(0);
  display: block;
  padding: 60px;
}
.menu img {
  width: 150px;
  display: block;
  margin: 20px auto;
}
.menu nav a {
  display: block;
  padding: 10px 0;
  text-align: center;
  margin-left: 10px

}







.title{
  margin-left: 20px;
  margin-top: -10px;
  text-align: center;
  float: left;
  font-size: 2.4em;
  color: silver;
  font-weight: lighter;
  font-family: sans-serif
  
}
.fa, .fas {
 
}
.ref-obra{
  float: left;
  position: absolute;
  left:8%;
  top:26%;
  font-size: 1.5em;
  font-weight: lighter;
  font-family: sans-serif;
  color: rgb(201, 205, 209);
  font-family: 'Roboto', sans-serif;
  

}
a{
  
  font-size: 1.5em;
  margin-left: 10px;  
  color: black;
  font-weight: lighter;
 
}

a:hover { 
  color: grey;
}
#cerrar{
  margin-top: 20px;
  margin-right: 10px;
  position: absolute;
    right: 1%;
    color:white;
}
#title-subasta{
  margin-top: 62px;
}
.subasta-form{
  margin-top: 50px

}
.subasta-img{
  width:65%;
  margin-top:0px
  
}
.input-puja{
  border-style: dotted; border-width: 1px;
  border-color: rgba(36, 35, 37, 0.788);
  border-radius: 10px;
  width: 188px;
  height: 58px;
  color: black;
  font-size: 22px;
  font-weight: lighter;
  background-color: lightgray;
  margin-right: 10px;
}
.cerrar li a{
display: block;
font-size: 1.5em;
  font-weight: lighter;
  font-family: sans-serif;

}
.sesion ul li{

display: block;
font-size: 1.5em;
font-weight: lighter;
font-family: sans-serif;


}



#video_background {
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 100vw;
  min-height: 100vh;
  z-index: -1;
}
.btn-send{
  padding-top: 800px;
}
.fa-times-circle{
  margin-right: -470px;
  margin-top: 10px;
  color:white;
}


.pujas-tab{
  height: 60px;
  
}

.put-box{
  
  overflow-y: scroll;
  border: dashed;
  width: 400px;

  max-height: 395px;
  margin-top: 40px;

  margin-right: 0px;
  background-color: #b2d2c0;
  border-style: groove; 
  border-width: 1px; 

}

.tucredito {
  margin-top: 20px;
}

.fa-gavel:before {
  content: "\f0e3";
  font-size: 25px;
  margin-left: 10px;
  max-width: 20px;
}


.close{
  visibility: hidden;
}
.time{
  padding: 15px 30px;
  border-radius: 20px;
  background-color: rgb(76, 138, 173);
  color: white;
  position: absolute;
  top: 46%;
  right: -10%;

}
.time:hover {
  background-color: rgb(201, 96, 89);
  color: black
}
/*.container{
  overflow-y: scroll;
  max-height: 15px;
}*/
.titulo-flot{
  margin:23% 30%;
 
  color: whitesmoke;
  text-align: center;
  z-index: 777;
  position: absolute;
  font-size: 6rem;
  

}
.fa-home{
  position: absolute;
  top: 9px;
  left: 33px;
  font-size: 60px;
}
.box {
  width: 300px;
  margin: 50px auto;
  background: #363f3f;
  padding: 20px;
  text-align: center;
  font-weight: 900;
  color: #fff;
  font-family: arial;
  position: relative;
}

.sb4:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #363f3f;
  border-top: 10px solid #363f3f;
  border-bottom: 10px solid transparent;
  right: 19px;
  bottom: -19px;
}
#subasta-form form{
  text-align: center;
  position: absolute;
  left: 100%;
  top: 51%;
  
    transform: translate(-50%,-50%)
}

/* .link-1 {
  transition: 0.3s ease;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  
  
}
.link-1:hover {
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  
} */

.img-title{
 
  width: 40%;


}
.nav{

}






@media screen and (min-width: 880px) {
  .obras-menu{
  width: 70%
  }
 .close{
    visibility: visible
  }
  
  
  .title{
    margin-left: 20px;
    margin-top: 100px;
    font-size: 5em
  }
  .menu.abierto .title{
    padding: 10% 25%;
    margin-left: 50%;
    margin-top: 50%;
    text-align: center;
    display: block;
    font-size: 2.8em;
    color:rgb(199, 109, 77);
    font-weight: lighter;
  }
  .menu.abierto h1 {
    margin-left: 100%;
    margin-top: 50%;
    font-family: 'Open Sans Condensed', sans-serif;
  }
  .subasta-form{
    float: left;
    padding: 20px;
    margin-top: 5px
  }

  .puja-cont{
   clear: both;
  }
  

  #cerrar a{
    margin-top: -43px;
    margin-right: 5px;
    font-family: 'Roboto', sans-serif;
    
    
  }
  .menu {
    width: 1455px;
    height: 80px;
    transform: translateX(0);
    transition: none;
    background: #343A40;
   
box-shadow: 47px 16px 35px -11px rgba(0,0,0,0.8);
  }
  .menu.abierto {
    transform: translateX(0);
    display: block;
   
  }
  .menu img {
    margin: 8px;
    width: 100px;
    float: left;
  }
  .menu ul li{
    float: right;
    display: block;
  }
  .menu li {
    display: inline-block;
    margin: 5px;
    margin-top: 0px;

  }
  .sesions{
    margin-top: 0px
  }
  
}

