.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.link-nav{
  color: white;
  margin: 20px;
}

.signup-form{
  
  transition-timing-function: cubic-bezier(.29, 1.01, 1, -0.68);  
  text-align: center;
  background-color: rgb(2, 2, 17);  
  color: white;
  width: 100px;
  height: 100px;

}


element.style {
  right: -15rem;
  width: 15rem;
  transition: all 0.5s ease-in-out 0s;
}

.Login {
  height: 100%;
  width: 50rem;
  background: teal;
  position: absolute;
  right: 0;
  transition: all .5s ease-in-out;
}

.Login.show {
  right: 0;
  z-index: 9;
}

.Login.hide {
  right: -50rem;
}

.Signup {
  height: 100%;
  width: 50rem;
  background: teal;
  position: absolute;
  right: 0;
  transition: all .5s ease-in-out;
}

.Signup.show {
  right: 0;
  z-index: 9;
}

.Signup.hide {
  right: -50rem;
}
.artists-obras{
  display: flex;
  justify-content: space-evenly;


}
.card-obras{
  margin: 20px;
  box-shadow: 6px 15px 17px 7px rgba(0,0,0,0.27);;
}

.profile-img img{
  width: 40%;
  margin-top: 50%

}
.login-form{
  margin-top: 40%;
}
.form-signup{
  margin-top:40%;
}


.profile-art img{
  width: 80%;
 
}